body{
    text-align: center;
}

table{
    margin: auto;
    border: 0;
    background-color: grey;
}

.board td {
    margin: 20px auto;
	border: 1px solid rgb(0, 0, 0);
    width: 40px;
    height: 40px;
    font-size: 1.5em;
}

.invisible{
    text-indent: -9999px;
    box-shadow: 10px 5px 5px rgb(0, 0, 0);
}

footer{
    margin: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.lives{
    margin: 10px;
}

button{
    margin: 5px
}